.form {
  display: flex;
  gap: 0 0.5em;
}

.main-input {
  width: 100%;
}

.result-container {
  margin-top: 1em;
}

#loading {
  display: none;
  border: 0.8em solid lightgray;
  border-top: 0.8em solid gray;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

#result-section {
  display: none;
}

#error-statement {
  display: none;
  color: red;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
